@using System.Threading.Tasks
@using QJumpers.Public.QJumpersClient.Helpers;
@using QJumpers.Common.Api.Extensions;
<!DOCTYPE html>
<!-- Style 20 -->
<html class="" data-config="{&quot;development&quot;:&quot;false&quot;,&quot;adjustNavHeightJs&quot;:&quot;&quot;,&quot;DEVELOPMENT&quot;:&quot;false&quot;,&quot;isLegacy&quot;:&quot;false&quot;,&quot;requestType&quot;:&quot;page&quot;,&quot;PREVIEW&quot;:&quot;false&quot;,&quot;EDITOR&quot;:&quot;false&quot;,&quot;DASHBOARD&quot;:&quot;false&quot;,&quot;isHotness&quot;:&quot;true&quot;,&quot;template&quot;:&quot;Style 20&quot;,&quot;navResizeTemplate&quot;:&quot;&quot;,&quot;baseREMUnit&quot;:16,&quot;screenSizes&quot;:{&quot;t&quot;:{&quot;fontSize&quot;:14,&quot;contentWidth&quot;:400,&quot;max&quot;:400,&quot;min&quot;:0,&quot;scale&quot;:0.7551,&quot;subScale&quot;:0.95,&quot;navScale&quot;:0.6,&quot;legacy&quot;:false},&quot;h&quot;:{&quot;fontSize&quot;:16,&quot;contentWidth&quot;:600,&quot;max&quot;:740,&quot;min&quot;:0,&quot;scale&quot;:0.7551,&quot;subScale&quot;:0.95,&quot;navScale&quot;:0.6,&quot;legacy&quot;:false},&quot;s&quot;:{&quot;fontSize&quot;:13,&quot;contentWidth&quot;:780,&quot;max&quot;:1080,&quot;min&quot;:740,&quot;scale&quot;:0.7959,&quot;subScale&quot;:0.7959,&quot;navScale&quot;:0.75,&quot;legacy&quot;:false},&quot;m&quot;:{&quot;fontSize&quot;:16,&quot;contentWidth&quot;:980,&quot;max&quot;:1460,&quot;min&quot;:1080,&quot;scale&quot;:1,&quot;subScale&quot;:1,&quot;navScale&quot;:1,&quot;legacy&quot;:true},&quot;l&quot;:{&quot;fontSize&quot;:19,&quot;contentWidth&quot;:1170,&quot;max&quot;:0,&quot;min&quot;:1460,&quot;scale&quot;:1.1938,&quot;subScale&quot;:1.1938,&quot;navScale&quot;:1.1,&quot;legacy&quot;:false}},&quot;publicURL&quot;:&quot;https:\/\/www.hrconnect.co.nz&quot;,&quot;titleData&quot;:{&quot;companyName&quot;:&quot;HR Connect&quot;,&quot;position&quot;:&quot;right&quot;,&quot;separator&quot;:&quot; | &quot;},&quot;CONSOLE_OVERRIDE&quot;:false,&quot;noZensmooth&quot;:true,&quot;timeZone&quot;:{&quot;zone&quot;:&quot;Pacific\/Auckland&quot;,&quot;formatted&quot;:&quot;NZDT&quot;}}">
   <head>
      @{
      <!-- Google Tag Manager -->
      <noscript><iframe src="//www.googletagmanager.com/ns.html?id=@ViewData["QJGTMCode"]" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
      <script>
         (function (w, d, s, l, i) {
         	w[l] = w[l] || [];
         	w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
         	var f = d.getElementsByTagName(s)[0],
         		j = d.createElement(s),
         		dl = l != 'dataLayer' ? '&l=' + l : '';
         	j.async = true;
         	j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
         	f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'qjDataLayer', '@ViewData["QJGTMCode"]');
              
      </script>
      <!-- End Google Tag Manager -->
      }
      @{
      var clientGACode = "";
      if (!(bool)ViewData["IsQjumpersSubsite"] && !string.IsNullOrEmpty((string)ViewData["SubsiteGACode"]))
      {
      clientGACode = string.Format("ga('create', '{0}', 'auto', 'clientTracker');ga('clientTracker.send', 'pageview');", @ViewData["SubsiteGACode"]);
      }
      <script>
         (function (i, s, o, g, r, a, m) {
         	i['GoogleAnalyticsObject'] = r;
         	i[r] = i[r] || function () {
         		(i[r].q = i[r].q || []).push(arguments)
         	}, i[r].l = 1 * new Date();
         	a = s.createElement(o),
         		m = s.getElementsByTagName(o)[0];
         	a.async = 1;
         	a.src = g;
         	m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
         
         ga('create', '@ViewData["SubsiteGACode"]', 'auto');
         ga('send', 'pageview');
         @if (!(bool)ViewData["IsQjumpersSubsite"] && !string.IsNullOrEmpty((string)ViewData["SubsiteGACode"]))
         {
         	@:ga('create', '@ViewData["SubsiteGACode"])', 'auto', 'clientTracker');
         			@:ga('clientTracker.send', 'pageview');
         }
               
      </script>
      }
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Bringing colour to HR | Human Resources | HR Consulting | HR Connect</title>
      <meta name="Description" content="Our HR Consultants are dynamic &lsquo;people people&rsquo;. Experienced HR professionals with a good dose of real-world business acumen, leadership, insight into human behavior and an agile style." />
      <meta name="keywords" content="" />
      <link rel="icon" type="image/png" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad16x16@stretch.jpg?v=20170707141113"
         sizes="16x16">
      <link rel="icon" type="image/png" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad32x32@stretch.jpg?v=20170707141113"
         sizes="32x32">
      <link rel="icon" type="image/png" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad64x64@stretch.jpg?v=20170707141113"
         sizes="64x64">
      <!--<link rel="shortcut icon"  href="/images/logo/cropped-12771/jpg.ico?v=20170707141113" />-->
      <link rel="icon" href="images/logo/cropped-12771/jpg.ico@v=20170707141113" type="image/x-icon" />
      <link rel="shortcut icon" href="images/logo/cropped-12771/jpg.ico@v=20170707141113" type="image/x-icon" />
      <link rel="apple-touch-icon" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad60x60@stretch.jpg?v=20170707141113" />
      <link rel="apple-touch-icon" sizes="76x76" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad76x76@stretch.jpg?v=20170707141113" />
      <link rel="apple-touch-icon" sizes="120x120" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad120x120@stretch.jpg?v=20170707141113" />
      <link rel="apple-touch-icon" sizes="152x152" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad152x152@stretch.jpg?v=20170707141113" />
      <link rel="icon" type="image/png" sizes="192x192" href="https://www.hrconnect.co.nz/images/logo/cropped-12771/pad192x192@stretch.jpg?v=20170707141113" />
      <!-- <script type="text/javascript" src="https://cdn.rocketspark.com/jquery-3.3.1.slim.min.js?v=20181210150922"></script> -->
      <!--<script>var _j = jQuery.noConflict(true);// eslint-disable-line no-unused-vars</script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/vueJS/vue.min.v20181210150922.js"></script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/_dist/js/vendors.bundle.v20181210150922.js"></script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/_dist/js/libraries.v20181210150922.js"></script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/_dist/js/public.bundle.v20181210150922.js"></script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/selectChosen/chosen_v1.4.2/chosen.jquery.rs.v20181210150922.js"></script>
      <script type="text/javascript" src="https://cdn.rocketspark.com/he.v20181210150922.js"></script>-->
      <link rel="stylesheet" href="https://cdn.rocketspark.com/_dist/css/public.bundle.v20181210150922.css" type="text/css"
         media="all" />
      <link rel="stylesheet" href="https://cdn.rocketspark.com/_dist/css/vendor.bundle.v20181210150922.css" type="text/css"
         media="all" />
      <link rel="stylesheet" href="https://cdn.rocketspark.com/selectChosen/chosen_v1.4.2/chosen.rs.v20181210150922.css"
         type="text/css" media="all" />
      <script type="text/javascript" src="/subsites/HRconnect/scripts/page59290.js" defer></script>
      <link rel="stylesheet" href="/subsites/HRconnect/styles/styles.css" type="text/css" media="all" title="dynamicstyle" />
      <link rel="stylesheet" href="/subsites/HRconnect/styles/page59290.css" type="text/css" media="screen" id="pagestyle" />
      <link rel="stylesheet" href="/subsites/HRconnect/styles/css.css" type="text/css" media="screen" id="pagestyle" />
      <link rel="stylesheet" href="/form.css">
      <link rel="stylesheet" href="/subsites/HRconnect/styles/custom.css" type="text/css" media="screen" id="pagestyle" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="https://use.typekit.net/ik/llIR6xs02ighgTwK8ZgZNFVvrZtE_53HqDJOaT09hRGfeGjffOxAJyJbFQjtwQJaWhykjhN0dcmRigTUHKoGScFzdco8jab0jhv0d1GC-Y4Rdho0ZAFXOcFzOcoEOeykjhN0dcmRifokdhFnZWsDSeBk-koRdko0pKUaiaS0-Y4Rdho0ZAFXOcFzOcoEOYiaikoGScFzdco8jab0ScNR-hmXSagyScC0jhv0d1GKgeoUZYqKgeU1dWjKgYi1pcwKgeyXSc67f6KZqMIbMg6IJMJ7f6K-qMIbMg6BJMJ7f6KUCbIbMg6eJMJ7f6KjqMIbMg6YJMJ7f6RJ73IbMs6IJMJ7f6Kr73IbMs6YJMJ7fbRKbyMfeMb6MKG4fOtVIMwjgPMfqMeaN5Odgb.js"></script>
      <style type="text/css">
         @* @font-face {
         font-family: nqdy;
         src: url(https://use.typekit.net/af/8e698b/00000000000000003b9b13b3/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/8e698b/00000000000000003b9b13b3/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/8e698b/00000000000000003b9b13b3/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
         font-weight: 400;
         font-style: normal;
         }
         @font-face {
         font-family: nqdy;
         src: url(https://use.typekit.net/af/11282a/00000000000000003b9b13b5/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/11282a/00000000000000003b9b13b5/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/11282a/00000000000000003b9b13b5/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
         font-weight: 500;
         font-style: normal;
         }
         @font-face {
         font-family: nqdy;
         src: url(https://use.typekit.net/af/aad4b2/00000000000000003b9b13b6/27/l?subset_id=2&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/aad4b2/00000000000000003b9b13b6/27/d?subset_id=2&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/aad4b2/00000000000000003b9b13b6/27/a?subset_id=2&fvd=n6&v=3) format("opentype");
         font-weight: 600;
         font-style: normal;
         }
         @font-face {
         font-family: nqdy;
         src: url(https://use.typekit.net/af/73e1a8/00000000000000003b9b13b9/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/73e1a8/00000000000000003b9b13b9/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/73e1a8/00000000000000003b9b13b9/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
         font-weight: 700;
         font-style: normal;
         }
         @font-face {
         font-family: lgmv;
         src: url(https://use.typekit.net/af/f666bb/0000000000000000000142ed/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/f666bb/0000000000000000000142ed/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/f666bb/0000000000000000000142ed/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
         font-weight: 400;
         font-style: normal;
         }
         @font-face {
         font-family: lgmv;
         src: url(https://use.typekit.net/af/abca45/0000000000000000000142d2/27/l?subset_id=2&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/abca45/0000000000000000000142d2/27/d?subset_id=2&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/abca45/0000000000000000000142d2/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
         font-weight: 700;
         font-style: normal;
         }
         @font-face {
         font-family: wgzc;
         src: url(https://use.typekit.net/af/3f38e7/00000000000000000000ebe8/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/3f38e7/00000000000000000000ebe8/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/3f38e7/00000000000000000000ebe8/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
         font-weight: 400;
         font-style: normal;
         }
         @font-face {
         font-family: htrh;
         src: url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/0e7386/000000000000000000011b26/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
         font-weight: 500;
         font-style: normal;
         } *@
      </style>
      @{
      var host = string.Empty;
      if (Context.Request.Host.Port == null)
      {
      host = $"{Context.Request.Scheme}{Uri.SchemeDelimiter}{Context.Request.Host.Host}";
      }
      else
      {
      host = $"{Context.Request.Scheme}{Uri.SchemeDelimiter}{Context.Request.Host.Host}:{Context.Request.Host.Port}";
      }
      var geoHost = "Geonames_Base_Url".FromRequiredEnvironmentVariable();
      var keycloakHost = "Keycloak_Host".FromRequiredEnvironmentVariable();
      var sessionTimeout = "SESSIONTIMEOUT".FromRequiredEnvironmentVariable();
      <script>
         var environmentConfig = {
             host: "@Context.Request.Host.Host",
             port: @Context.Request.Host.Port,
             sessionTimeout: @sessionTimeout,
             subsite: "@Context.Items[SubsiteConstants.SubsiteKey]",
             ADMIN: {
                 apiHost: "@host/api",
                 apiPath: ""
             },
             GEO: {
                 apiHost: "@geoHost/api",
                 apiPath: ""
             },
             KEYCLOAK: {
                 apiHost: "@keycloakHost/auth",
                 apiPath: ""
             }
         }
      </script>
      }
   </head>
   <body id="page_1" data-page-id="59290" class=" is-desktop contact-bar">
      <div id="fb-root"></div>
      <!-- Google Tag Manager (noscript) -->
      <noscript>
         <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQN7X3D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div class="side-of-page">
         <div class="social-container style3 custom side">
            <div class="social-row">
               <a class="social-icon facebook-icon" href="https://www.facebook.com/HR-Connect-Ltd-341583433128/"
                  target="_blank">
                  <svg height="17" width="9" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 9 17">
                     <path fill-rule="evenodd" d="M 8.86 9.02 C 8.86 9.02 5.61 9.02 5.61 9.02 C 5.61 9.02 5.61 17 5.61 17 C 5.61 17 2.3 17 2.3 17 C 2.3 17 2.3 9.02 2.3 9.02 C 2.3 9.02 0 9.02 0 9.02 C 0 9.02 0 6.15 0 6.15 C 0 6.15 2.3 6.15 2.3 6.15 C 2.3 6.15 2.3 4.97 2.3 3.7 C 2.3 1.77 3.66 0 6.79 0 C 8.05 0 8.99 0.11 8.99 0.11 C 8.99 0.11 8.91 2.79 8.91 2.79 C 8.91 2.79 7.96 2.79 6.92 2.79 C 5.79 2.79 5.61 3.26 5.61 4.05 C 5.61 4.15 5.61 4.19 5.61 4.19 C 5.61 4.41 5.61 4.95 5.61 6.15 C 5.61 6.15 9 6.15 9 6.15 C 9 6.15 8.86 9.02 8.86 9.02 Z" />
                  </svg>
               </a>
            </div>
         </div>
      </div>
      <!-- end .side-of-page -->
      <div id="shadow">
         <div id="shadow_inner">
            <div class="rs-contact-bar-container right" data-position="top">
               <div class="rs-contact-bar-inner">
                  <span class="email">E:
                  <a href="mailto:&#97;&#100;&#109;&#105;&#110;&#64;&#104;&#114;&#99;&#111;&#110;&#110;&#101;&#99;&#116;&#46;&#99;&#111;&#46;&#110;&#122;">&#97;&#100;&#109;&#105;&#110;&#64;&#104;&#114;&#99;&#111;&#110;&#110;&#101;&#99;&#116;&#46;&#99;&#111;&#46;&#110;&#122;</a>
                  </span>
                  <span class="phone">P: 0800 131 557</span>
               </div>
            </div>
            <div id="header-area" class="">
               <div id="header" class=" ">
                  <div id="header-inner" class="wrap">
                     <div id="header_overlay"></div>
                     <div id="logo-padding">
                        <div id="logo" class="logo auto-adjust"></div>
                        <!--end #logo-->
                     </div>
                     <div id="nav_wrapper">
                        <div id="nav" class=" social-parent">
                           <div class="active first_nav">
                              <a href="index.html">
                                 <span class="type-element">
                                    <div class="text-scaling">Home</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://www.hrconnect.co.nz/page/about/">
                                 <span class="type-element">
                                    <div class="text-scaling">About</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://www.hrconnect.co.nz/page/services/">
                                 <span class="type-element">
                                    <div class="text-scaling">Services</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://www.hrconnect.co.nz/page/enablehr/">
                                 <span class="type-element">
                                    <div class="text-scaling">enableHR</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://hrconnect.qjumpers.co.nz/jobs/">
                                 <span class="type-element">
                                    <div class="text-scaling">Vacancies</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://www.hrconnect.co.nz/page/testimonials/">
                                 <span class="type-element">
                                    <div class="text-scaling">Testimonials</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="">
                              <a href="https://www.hrconnect.co.nz/blog/">
                                 <span class="type-element">
                                    <div class="text-scaling">Blog</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                           <div class="end_nav">
                              <a href="https://www.hrconnect.co.nz/page/contact/">
                                 <span class="type-element">
                                    <div class="text-scaling">Contact</div>
                                 </span>
                              </a>
                              <span class="nav_overlay"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--end #header-inner-->
                              <script type="text/javascript">
                                    function mobileMenu() {
                                          var a = document.getElementsByClassName("mobile-menu-icon");
                                          var b = document.getElementById("content");
                                          var c = document.getElementById("footer-1");
                                          var d = document.getElementById("footer");
                                          var e = document.getElementsByClassName("mobile-menu-container");
                                          a.classList.toggle("active");
                                          b.classList.toggle("mobile-menu-open-content-hide");      
                                          c.classList.toggle("mobile-menu-open-content-hide");  
                                          d.classList.toggle("mobile-menu-open-content-hide"); 
                                          e.classList.toggle("active");                       
                                    }
                              </script>
                  <div class="mobile-menu-bar mobile-menu-bar--2-count mobile-menu-component above">
                     <a class="mobile-menu-icon mobile-menu-toggle" onclick="mobileMenu">
                     <span></span>
                     </a>
                     <a class="mobile-menu-icon mobile-menu-contact-phone" href="tel:0800131557">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                           <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                           <title>Shape</title>
                           <desc>Created with Sketch.</desc>
                           <defs></defs>
                           <g id="Customer-Accounts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Mobile" transform="translate(-265.000000, -28.000000)" fill-rule="nonzero"
                                 fill="#565656">
                                 <g id="phone-call-(1)" transform="translate(265.000000, 28.000000)">
                                    <path d="M14.3108256,10.1337366 C13.9397731,9.74910394 13.4922149,9.54345878 13.0178797,9.54345878 C12.5473698,9.54345878 12.0959863,9.7452957 11.7096327,10.1299283 L10.500843,11.3295251 C10.4013857,11.2762097 10.3019283,11.2267025 10.2062962,11.1771953 C10.068586,11.108647 9.93852633,11.0439068 9.82759311,10.9753584 C8.69530914,10.2594086 7.66630783,9.32638889 6.67938464,8.11917563 C6.20122418,7.51747312 5.87990035,7.0109767 5.64655805,6.4968638 C5.96023131,6.21124552 6.25095287,5.91420251 6.53402386,5.62858423 C6.6411318,5.52195341 6.74823975,5.41151434 6.85534769,5.30488351 C7.65865726,4.50515233 7.65865726,3.46931004 6.85534769,2.66957885 L5.81104525,1.62992832 C5.69246145,1.51187276 5.57005237,1.39000896 5.45529386,1.26814516 C5.22577684,1.03203405 4.98478397,0.788306452 4.73614053,0.559811828 C4.36508802,0.19422043 3.92135511,0 3.4546705,0 C2.98798589,0 2.53660242,0.19422043 2.15407405,0.559811828 C2.15024877,0.563620072 2.15024877,0.563620072 2.14642348,0.567428315 L0.845827034,1.87365591 C0.356190724,2.36111111 0.0769450153,2.95519713 0.0157404765,3.64448925 C-0.0760663317,4.75649642 0.252908064,5.79233871 0.505376787,6.47020609 C1.12507274,8.1344086 2.05079139,9.67674731 3.4317188,11.3295251 C5.10719305,13.3212366 7.12311755,14.8940412 9.42593832,16.0022401 C10.3057536,16.4173387 11.4801157,16.9086022 12.792188,16.9923835 C12.8725189,16.9961918 12.9566752,17 13.0331808,17 C13.9168214,17 14.6589264,16.6839158 15.2403695,16.0555556 C15.2441948,16.0479391 15.2518454,16.0441308 15.2556706,16.0365143 C15.4545854,15.796595 15.6841024,15.5795251 15.9250953,15.3472222 C16.0895825,15.1910842 16.257895,15.0273297 16.4223822,14.8559588 C16.8010852,14.4637097 17,14.0067204 17,13.5383065 C17,13.0660842 16.79726,12.6129032 16.4109063,12.2320789 L14.3108256,10.1337366 Z M15.6802771,14.1438172 C15.6764518,14.1438172 15.6764518,14.1476254 15.6802771,14.1438172 C15.5310911,14.3037634 15.3780797,14.4484767 15.2135925,14.6084229 C14.9649491,14.8445341 14.7124804,15.0920699 14.4753128,15.3700717 C14.0889591,15.781362 13.6337504,15.9755824 13.0370061,15.9755824 C12.9796269,15.9755824 12.9184223,15.9755824 12.8610431,15.9717742 C11.7249338,15.8994176 10.6691555,15.4576613 9.87732179,15.0806452 C7.71221123,14.0371864 5.81104525,12.5557796 4.23120309,10.6783154 C2.92678135,9.11312724 2.05461668,7.66599462 1.47699884,6.11223118 C1.12124746,5.16397849 0.991187814,4.42517921 1.04856707,3.72827061 C1.08681991,3.28270609 1.25895767,2.91330645 1.57645622,2.59722222 L2.88087795,1.29861111 C3.06831685,1.1234319 3.2672316,1.02822581 3.46232107,1.02822581 C3.70331394,1.02822581 3.89840341,1.17293907 4.02081249,1.29480287 C4.02463777,1.29861111 4.02846305,1.30241935 4.03228834,1.3062276 C4.26563064,1.52329749 4.48749709,1.74798387 4.7208394,1.98790323 C4.83942319,2.10976703 4.96183227,2.23163082 5.08424135,2.35730287 L6.12854379,3.39695341 C6.53402386,3.80062724 6.53402386,4.17383513 6.12854379,4.57750896 C6.01761056,4.68794803 5.91050262,4.7983871 5.7995694,4.90501792 C5.47824557,5.23252688 5.17222287,5.53718638 4.83942319,5.83422939 C4.83177263,5.84184588 4.82412206,5.84565412 4.82029677,5.85327061 C4.49132238,6.18077957 4.55252692,6.50067204 4.62138202,6.71774194 C4.62520731,6.72916667 4.62903259,6.7405914 4.63285787,6.75201613 C4.90445302,7.40703405 5.28698138,8.02396953 5.8684245,8.75896057 L5.87224979,8.76276882 C6.92802808,10.0575717 8.04118563,11.0667563 9.26910169,11.8398297 C9.42593832,11.9388441 9.58660024,12.0188172 9.73961158,12.0949821 C9.87732179,12.1635305 10.0073814,12.2282706 10.1183147,12.296819 C10.1336158,12.3044355 10.1489169,12.3158602 10.1642181,12.3234767 C10.2942777,12.3882168 10.4166868,12.4186828 10.5429212,12.4186828 C10.8604197,12.4186828 11.0593345,12.2206541 11.1243643,12.155914 L12.4326113,10.8534946 C12.5626709,10.7240143 12.7692363,10.5678763 13.0102291,10.5678763 C13.2473967,10.5678763 13.4424862,10.7163978 13.56107,10.8458781 C13.5648953,10.8496864 13.5648953,10.8496864 13.5687205,10.8534946 L15.6764518,12.9518369 C16.0704561,13.3402778 16.0704561,13.7401434 15.6802771,14.1438172 Z"
                                       id="Shape"></path>
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </a>
                  </div>
               </div>
               <!--end #header-->
               <div id="feature-area">
                  <div class="feature-area-wrap heading-background-heading-blurb-button">
                     <div class="feature-area" data-heighttype="responsive" data-base-height="337" style="background: transparent;"
                        data-cycle-fx="fade" data-cycle-timeout="5000" data-cycle-slides="div.feature-slide"
                        data-cycle-log="false" data-cycle-pager-template="<span></span>" data-cycle-pause-on-hover="true"
                        data-cycle-speed="1500">
                        <div class="feature-slide cycle-slide cycle-sentinel" data-content-position="left"
                           data-vertical-offset="50" data-handle="default221" style="background-position: 50% 48%; background-image: url('https://www.hrconnect.co.nz/images/feature/3c8744cdea7ed11c37d72e4a78f18248/hcrop1920x809@stretch.jpg'); position: static; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: hidden;"
                           data-image="https://www.hrconnect.co.nz/images/feature/3c8744cdea7ed11c37d72e4a78f18248/hcrop1920x809@stretch.jpg"></div>
                        <div class="feature-slide cycle-slide cycle-slide-active" id="feature-slide-default221"
                           data-content-position="left" data-vertical-offset="50" data-handle="default221" style="background-position: 50% 48%; background-image: url('https://www.hrconnect.co.nz/images/feature/3c8744cdea7ed11c37d72e4a78f18248/hcrop1920x809@stretch.jpg'); position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;"
                           data-image="https://www.hrconnect.co.nz/images/feature/3c8744cdea7ed11c37d72e4a78f18248/hcrop1920x809@stretch.jpg"></div>
                     </div>
                     <div class="feature-slide feature-slide-content-global has-heading has-blurb has-buttons has-content"
                        id="feature-slide-global" data-handle="global" data-content-position="left"
                        data-vertical-offset="50">
                        <div class="feature-slide-overlay"></div>
                        <div class="feature-slide-content cp-left" style="color: #ffffff;">
                           <div class="feature-slide-content-box">
                              <div class="feature-slide-content-box-padding"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end #header-area -->
            <!-- Body Start -->
            <main role="main" class="stack-inner default-theme qjumpers">
               @RenderBody()
            </main>
            <!-- Body End -->
            <!--end #content-->
            <div id="footer-1">
               <div id="footer-1-inner" class="wrap">
                  <div id="footer-nav">
                     <div class="active first_nav" id="nav_footer_1">
                        <a href="https://www.hrconnect.co.nz/page/home/">
                           <span class="type-element">
                              <div class="text-scaling">Home</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_2">
                        <a href="https://www.hrconnect.co.nz/page/about/">
                           <span class="type-element">
                              <div class="text-scaling">About</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_3">
                        <a href="https://www.hrconnect.co.nz/page/services/">
                           <span class="type-element">
                              <div class="text-scaling">Services</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_4">
                        <a href="https://www.hrconnect.co.nz/page/enablehr/">
                           <span class="type-element">
                              <div class="text-scaling">enableHR</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_5">
                        <a href="https://hrconnect.qjumpers.co.nz/jobs/">
                           <span class="type-element">
                              <div class="text-scaling">Vacancies</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_6">
                        <a href="https://www.hrconnect.co.nz/page/testimonials/">
                           <span class="type-element">
                              <div class="text-scaling">Testimonials</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="" id="nav_footer_7">
                        <a href="https://www.hrconnect.co.nz/blog/">
                           <span class="type-element">
                              <div class="text-scaling">Blog</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="end_nav" id="nav_footer_8">
                        <a href="https://www.hrconnect.co.nz/page/contact/">
                           <span class="type-element">
                              <div class="text-scaling">Contact</div>
                           </span>
                        </a>
                        <span class="nav_overlay"></span>
                     </div>
                     <div class="clear"></div>
                  </div>
                  <!-- end #footer-nav -->
                  <div id="footer-meta">
                  </div>
                  <!-- end #footer-meta -->
                  <div class="social-container style3 custom footer-icons footer-custom">
                     <div class="social-row">
                        <a class="social-icon facebook-icon" href="https://www.facebook.com/HR-Connect-Ltd-341583433128/"
                           target="_blank">
                           <svg height="17" width="9" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 9 17">
                              <path fill-rule="evenodd" d="M 8.86 9.02 C 8.86 9.02 5.61 9.02 5.61 9.02 C 5.61 9.02 5.61 17 5.61 17 C 5.61 17 2.3 17 2.3 17 C 2.3 17 2.3 9.02 2.3 9.02 C 2.3 9.02 0 9.02 0 9.02 C 0 9.02 0 6.15 0 6.15 C 0 6.15 2.3 6.15 2.3 6.15 C 2.3 6.15 2.3 4.97 2.3 3.7 C 2.3 1.77 3.66 0 6.79 0 C 8.05 0 8.99 0.11 8.99 0.11 C 8.99 0.11 8.91 2.79 8.91 2.79 C 8.91 2.79 7.96 2.79 6.92 2.79 C 5.79 2.79 5.61 3.26 5.61 4.05 C 5.61 4.15 5.61 4.19 5.61 4.19 C 5.61 4.41 5.61 4.95 5.61 6.15 C 5.61 6.15 9 6.15 9 6.15 C 9 6.15 8.86 9.02 8.86 9.02 Z" />
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="clear_float"></div>
               </div>
               <!-- end #footer-1-inner -->
            </div>
            <!-- end #footer-1 -->
            <div class="social-container style-responsive">
               <div class="social-row">
                  <a class="social-icon facebook-icon" href="https://www.facebook.com/HR-Connect-Ltd-341583433128/"
                     target="_blank">
                     <span class="svg">
                        <svg height="17" width="9" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 9 17">
                           <path fill-rule="evenodd" d="M 8.86 9.02 C 8.86 9.02 5.61 9.02 5.61 9.02 C 5.61 9.02 5.61 17 5.61 17 C 5.61 17 2.3 17 2.3 17 C 2.3 17 2.3 9.02 2.3 9.02 C 2.3 9.02 0 9.02 0 9.02 C 0 9.02 0 6.15 0 6.15 C 0 6.15 2.3 6.15 2.3 6.15 C 2.3 6.15 2.3 4.97 2.3 3.7 C 2.3 1.77 3.66 0 6.79 0 C 8.05 0 8.99 0.11 8.99 0.11 C 8.99 0.11 8.91 2.79 8.91 2.79 C 8.91 2.79 7.96 2.79 6.92 2.79 C 5.79 2.79 5.61 3.26 5.61 4.05 C 5.61 4.15 5.61 4.19 5.61 4.19 C 5.61 4.41 5.61 4.95 5.61 6.15 C 5.61 6.15 9 6.15 9 6.15 C 9 6.15 8.86 9.02 8.86 9.02 Z" />
                        </svg>
                     </span>
                     <span class="social-name">Facebook</span>
                  </a>
               </div>
            </div>
            <div id="footer" class="footer footer--dark">
               <div id="footer-inner" class="footer__inner wrap footer_logo_r">
                  <div class="footer__copyright footer_copyright">
                     Copyright &copy; 2018
                     <span class="m-h"> -
                     <a href="https://www.hrconnect.co.nz/dashboard/">dashboard</a>
                     </span>
                  </div>
                  <!-- end .footer__copyright -->
                  <div class="mobile-powered-by">
                     <a href="https://www.rocketspark.com/nz/" target="_blank">POWERED BY ROCKETSPARK</a>
                  </div>
                  <div class="footer__decal footer_decal">
                     <a href="https://www.rocketspark.com/nz/" title="Rocketspark website builder">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.91 32.56">
                           <defs>
                              <style>
                                 .footer-logo-1 {
                                 opacity: 0.15;
                                 }
                                 .footer-logo-2 {
                                 fill-rule: evenodd;
                                 }
                              </style>
                           </defs>
                           <g>
                              <g>
                                 <g class="footer-logo-1">
                                    <polygon class="footer-logo-2" points="267.37 0.87 257.15 0.87 246.11 13.16 246.11 0.87 238.4 0.87 238.4 31.7 246.11 31.7 246.11 22.73 250.74 18.01 259.14 31.7 267.71 31.7 256.15 12.56 267.37 0.87" />
                                    <path class="footer-logo-2" d="M187.7,0c-9.83,0-15.59,7.62-15.59,16.28s5.76,16.28,15.59,16.28,15.58-7.62,15.58-16.28S197.52,0,187.7,0Zm0,26.07c-6.07,0-7.89-5.29-7.89-9.79,0-6.93,3.38-9.79,7.89-9.79,5.71,0,7.88,4.94,7.88,9.79S193.41,26.07,187.7,26.07Z" />
                                    <path class="footer-logo-2" d="M222.16,26.07c-6.06,0-7.88-5.29-7.88-9.79,0-6.93,3.38-9.79,7.62-9.79a7,7,0,0,1,6.41,4.64l6.15-3.08c-2.86-5.11-6.84-8-12.9-8-9.62,0-15,7.62-15,16.28s5.76,16.28,15.59,16.28c5.2,0,9.79-3.07,12.43-7.88l-6.11-2.94A7.52,7.52,0,0,1,222.16,26.07Z" />
                                    <path class="footer-logo-2" d="M168.77,11c0-6.93-4.24-10.13-11.17-10.13H142.19V31.69h7.7V20.61h4.9l6.06,11.08h8.62l-7.06-12.38A8.51,8.51,0,0,0,168.77,11ZM157,14.89h-7.06V6.58H157c2.47,0,4.12,1.3,4.12,4.16S159.42,14.85,157,14.89Z" />
                                    <polygon class="footer-logo-2" points="461.44 12.56 472.66 0.87 462.44 0.87 451.4 13.16 451.4 0.87 443.69 0.87 443.69 31.7 451.4 31.7 451.4 22.73 456.03 18.01 464.43 31.7 473 31.7 461.44 12.56" />
                                    <polygon class="footer-logo-2" points="278.19 18.45 292.18 18.45 292.18 12.47 278.19 12.47 278.19 6.84 293.17 6.84 293.17 0.87 270.49 0.87 270.49 31.7 294.47 31.7 294.47 25.72 278.19 25.72 278.19 18.45" />
                                    <path class="footer-logo-2" d="M389.69.87,378.31,31.69h8.22l1.56-4.84h11.39L401,31.69h8.27L397.66.87Zm8,10.21-1.78,4.45,3.16-.35,0,0-2.61,1.12,2.24,1.49,0,0-2.59-.36,3.71,4.81,0,0-4.61-3.11-.06,1.71-1-1.23-2,2.57-.08-2.86L387,20.53l0,0,4.23-3.22-1.91.13,0,0,1.65-.95-4.44-2.37,0,0L392,15.29l-1.38-1.47,1.49.26-1.4-4.16,0,0,3.49,3.65.76-1.08.18,1.54,2.52-2.94Z" />
                                    <path class="footer-logo-2" d="M439,11C439,4.07,434.77.87,427.84.87H412.43V31.69h7.7V20.61H425l6.06,11.08h8.62l-7.06-12.38A8.51,8.51,0,0,0,439,11Zm-11.82,3.89h-7.06V6.58h7.06c2.47,0,4.12,1.3,4.12,4.16S429.66,14.85,427.19,14.89Z" />
                                    <path class="footer-logo-2" d="M368.34.87H353.06V31.69h7.79v-10h6c10.57,0,12.86-6.33,12.86-10.44C379.73,5.2,376.66.87,368.34.87ZM367.26,16h-6.49V6.58h6.28c3.5,0,5,1.69,5,4.76C372,13.73,370.77,16,367.26,16Z" />
                                    <path class="footer-logo-2" d="M334.44,6.23a10.65,10.65,0,0,1,8.27,3.9l5.85-4.2A18.32,18.32,0,0,0,335,0c-6.58,0-12.6,3.07-12.6,10.52,0,4.55,3.12,7.58,8.83,8.49l6.41,1c2.3.39,3.47,1.17,3.47,2.73,0,2.68-3.73,3.55-5.76,3.55-3.69,0-6.24-1.43-8.92-3.86l-5.89,3.81a17.65,17.65,0,0,0,13.9,6.28c5.76,0,14.11-1.73,14.11-11,0-5.89-5.06-7.79-11.21-8.79l-2.95-.47c-2.94-.48-4.28-1.3-4.28-3C330.07,7.36,332.67,6.23,334.44,6.23Z" />
                                    <polygon class="footer-logo-2" points="296.08 6.84 304.13 6.84 304.13 31.7 311.84 31.7 311.84 6.84 319.89 6.84 319.89 0.87 296.08 0.87 296.08 6.84" />
                                 </g>
                                 <g class="footer-logo-1">
                                    <path class="footer-logo-3" d="M0,5.81H2.14v1a7.94,7.94,0,0,1-.05.88h.05a4.4,4.4,0,0,1,4.08-2.2c3.26,0,5.32,2.59,5.32,6.36s-2.32,6.36-5.49,6.36a4.22,4.22,0,0,1-3.72-2H2.28a10.06,10.06,0,0,1,.05,1v5.45H0ZM5.69,16.26c1.92,0,3.5-1.59,3.5-4.35S7.78,7.57,5.76,7.57c-1.82,0-3.5,1.27-3.5,4.36C2.26,14.1,3.46,16.26,5.69,16.26Z" />
                                    <path class="footer-logo-3" d="M20.54,5.53a6.36,6.36,0,1,1,0,12.72,6.36,6.36,0,1,1,0-12.72Zm0,10.7a4.19,4.19,0,0,0,4.18-4.37,4.18,4.18,0,1,0-8.35,0A4.2,4.2,0,0,0,20.54,16.23Z" />
                                    <path class="footer-logo-3" d="M28.92,5.81h2.47l2.52,8.52c.19.63.29,1.3.31,1.3h.05a13.31,13.31,0,0,1,.31-1.3l2.64-8.49h2.14L42,14.33c.19.63.33,1.3.33,1.3h0a10.59,10.59,0,0,1,.29-1.3l2.54-8.52h2.45L43.73,18H41.16l-2.52-7.8c-.19-.63-.34-1.32-.34-1.32h0s-.15.69-.34,1.32L35.42,18H32.83Z" />
                                    <path class="footer-logo-3" d="M55.58,5.53c3.44,0,5.26,2.54,5.26,5.68,0,.32-.07,1-.07,1H51.91a4,4,0,0,0,4.18,4,5.78,5.78,0,0,0,3.6-1.42l1,1.71a7.23,7.23,0,0,1-4.71,1.73,6.19,6.19,0,0,1-6.43-6.36C49.51,8,52.13,5.53,55.58,5.53Zm2.88,4.94a2.86,2.86,0,0,0-2.92-3.1A3.49,3.49,0,0,0,52,10.47Z" />
                                    <path class="footer-logo-3" d="M64.15,5.81h2.26V7.93a8.4,8.4,0,0,1,0,.91h0a4.15,4.15,0,0,1,3.84-3.17,4,4,0,0,1,.6,0V8A3.41,3.41,0,0,0,70.18,8a3.69,3.69,0,0,0-3.41,2.86A7.22,7.22,0,0,0,66.48,13v5H64.15Z" />
                                    <path class="footer-logo-3" d="M78.79,5.53c3.43,0,5.26,2.54,5.26,5.68,0,.32-.07,1-.07,1H75.12a4,4,0,0,0,4.18,4,5.81,5.81,0,0,0,3.6-1.42l1,1.71a7.23,7.23,0,0,1-4.71,1.73,6.19,6.19,0,0,1-6.43-6.36C72.72,8,75.34,5.53,78.79,5.53Zm2.88,4.94a2.87,2.87,0,0,0-2.93-3.1,3.49,3.49,0,0,0-3.55,3.1Z" />
                                    <path class="footer-logo-3" d="M92.06,5.53a4.05,4.05,0,0,1,3.75,1.92h0a6.63,6.63,0,0,1,0-.82V1h2.33V18H95.93V16.81c0-.48,0-.82,0-.82h0a4.24,4.24,0,0,1-4,2.26c-3.29,0-5.35-2.6-5.35-6.36S88.85,5.53,92.06,5.53Zm.32,10.7c1.8,0,3.5-1.27,3.5-4.37,0-2.16-1.13-4.32-3.43-4.32-1.92,0-3.51,1.59-3.51,4.35S90.36,16.23,92.38,16.23Z" />
                                    <path class="footer-logo-3" d="M108.91,1h2.33V6.56a9.88,9.88,0,0,1,0,1h0a4.29,4.29,0,0,1,3.89-2.06c3.26,0,5.33,2.59,5.33,6.36s-2.33,6.36-5.52,6.36a4.36,4.36,0,0,1-3.82-2.09h-.05a7.72,7.72,0,0,1,.05.91V18h-2.21Zm5.69,15.25c1.92,0,3.5-1.59,3.5-4.35s-1.41-4.34-3.43-4.34c-1.82,0-3.5,1.27-3.5,4.36C111.17,14.1,112.3,16.26,114.6,16.26Z" />
                                    <path class="footer-logo-3" d="M122.9,20.48a2.76,2.76,0,0,0,1.42.5,2.47,2.47,0,0,0,2.18-1.77l.6-1.4L122,5.81h2.61l3.05,8c.24.62.46,1.46.46,1.46h0s.2-.81.41-1.44l2.95-8h2.52l-5.68,14.33A4.19,4.19,0,0,1,124.44,23a4.24,4.24,0,0,1-2.35-.74Z" />
                                 </g>
                                 <g class="footer-logo-1">
                                    <path class="footer-logo-3" d="M480.23.75a3.75,3.75,0,0,1,1.81.48,3.35,3.35,0,0,1,1.38,1.36,3.74,3.74,0,0,1,.49,1.85,3.79,3.79,0,0,1-.48,1.83,3.45,3.45,0,0,1-1.37,1.36,3.66,3.66,0,0,1-3.66,0A3.45,3.45,0,0,1,477,6.27a3.8,3.8,0,0,1-.49-1.83,3.75,3.75,0,0,1,.5-1.85,3.35,3.35,0,0,1,1.38-1.36A3.75,3.75,0,0,1,480.23.75Zm0,.61a3.08,3.08,0,0,0-1.51.4,2.81,2.81,0,0,0-1.15,1.14,3,3,0,0,0,0,3.06A2.84,2.84,0,0,0,478.7,7.1a3.06,3.06,0,0,0,3.06,0A2.84,2.84,0,0,0,482.9,6a3.09,3.09,0,0,0,0-3.06,2.81,2.81,0,0,0-1.15-1.14A3.08,3.08,0,0,0,480.23,1.36Zm-1.62,5.11v-4H480a3.15,3.15,0,0,1,1,.11,1,1,0,0,1,.5.38,1,1,0,0,1,.18.58,1.06,1.06,0,0,1-.31.76,1.27,1.27,0,0,1-.82.36,1.23,1.23,0,0,1,.34.21,4.61,4.61,0,0,1,.58.79l.48.77h-.78l-.35-.62a3,3,0,0,0-.67-.92.76.76,0,0,0-.51-.14h-.38V6.47Zm.64-2.23H480a1.28,1.28,0,0,0,.76-.16.53.53,0,0,0,.2-.44.57.57,0,0,0-.09-.32.67.67,0,0,0-.28-.21,2.24,2.24,0,0,0-.64-.06h-.73Z" />
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </a>
                  </div>
               </div>
               <!-- end #footer-inner -->
            </div>
            <!-- end #footer -->
            <div class="mobile-menu-container mobile-menu-component">
               <div class="mobile-in-menu-bar">
                  <div class="logo"></div>
                  <div class="mobile-menu-bar mobile-menu-bar--2-count ">
                     <a class="mobile-menu-icon mobile-menu-toggle">
                     <span></span>
                     </a>
                     <a class="mobile-menu-icon mobile-menu-contact-phone" href="tel:0800131557">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                           <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                           <title>Shape</title>
                           <desc>Created with Sketch.</desc>
                           <defs></defs>
                           <g id="Customer-Accounts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Mobile" transform="translate(-265.000000, -28.000000)" fill-rule="nonzero"
                                 fill="#565656">
                                 <g id="phone-call-(1)" transform="translate(265.000000, 28.000000)">
                                    <path d="M14.3108256,10.1337366 C13.9397731,9.74910394 13.4922149,9.54345878 13.0178797,9.54345878 C12.5473698,9.54345878 12.0959863,9.7452957 11.7096327,10.1299283 L10.500843,11.3295251 C10.4013857,11.2762097 10.3019283,11.2267025 10.2062962,11.1771953 C10.068586,11.108647 9.93852633,11.0439068 9.82759311,10.9753584 C8.69530914,10.2594086 7.66630783,9.32638889 6.67938464,8.11917563 C6.20122418,7.51747312 5.87990035,7.0109767 5.64655805,6.4968638 C5.96023131,6.21124552 6.25095287,5.91420251 6.53402386,5.62858423 C6.6411318,5.52195341 6.74823975,5.41151434 6.85534769,5.30488351 C7.65865726,4.50515233 7.65865726,3.46931004 6.85534769,2.66957885 L5.81104525,1.62992832 C5.69246145,1.51187276 5.57005237,1.39000896 5.45529386,1.26814516 C5.22577684,1.03203405 4.98478397,0.788306452 4.73614053,0.559811828 C4.36508802,0.19422043 3.92135511,0 3.4546705,0 C2.98798589,0 2.53660242,0.19422043 2.15407405,0.559811828 C2.15024877,0.563620072 2.15024877,0.563620072 2.14642348,0.567428315 L0.845827034,1.87365591 C0.356190724,2.36111111 0.0769450153,2.95519713 0.0157404765,3.64448925 C-0.0760663317,4.75649642 0.252908064,5.79233871 0.505376787,6.47020609 C1.12507274,8.1344086 2.05079139,9.67674731 3.4317188,11.3295251 C5.10719305,13.3212366 7.12311755,14.8940412 9.42593832,16.0022401 C10.3057536,16.4173387 11.4801157,16.9086022 12.792188,16.9923835 C12.8725189,16.9961918 12.9566752,17 13.0331808,17 C13.9168214,17 14.6589264,16.6839158 15.2403695,16.0555556 C15.2441948,16.0479391 15.2518454,16.0441308 15.2556706,16.0365143 C15.4545854,15.796595 15.6841024,15.5795251 15.9250953,15.3472222 C16.0895825,15.1910842 16.257895,15.0273297 16.4223822,14.8559588 C16.8010852,14.4637097 17,14.0067204 17,13.5383065 C17,13.0660842 16.79726,12.6129032 16.4109063,12.2320789 L14.3108256,10.1337366 Z M15.6802771,14.1438172 C15.6764518,14.1438172 15.6764518,14.1476254 15.6802771,14.1438172 C15.5310911,14.3037634 15.3780797,14.4484767 15.2135925,14.6084229 C14.9649491,14.8445341 14.7124804,15.0920699 14.4753128,15.3700717 C14.0889591,15.781362 13.6337504,15.9755824 13.0370061,15.9755824 C12.9796269,15.9755824 12.9184223,15.9755824 12.8610431,15.9717742 C11.7249338,15.8994176 10.6691555,15.4576613 9.87732179,15.0806452 C7.71221123,14.0371864 5.81104525,12.5557796 4.23120309,10.6783154 C2.92678135,9.11312724 2.05461668,7.66599462 1.47699884,6.11223118 C1.12124746,5.16397849 0.991187814,4.42517921 1.04856707,3.72827061 C1.08681991,3.28270609 1.25895767,2.91330645 1.57645622,2.59722222 L2.88087795,1.29861111 C3.06831685,1.1234319 3.2672316,1.02822581 3.46232107,1.02822581 C3.70331394,1.02822581 3.89840341,1.17293907 4.02081249,1.29480287 C4.02463777,1.29861111 4.02846305,1.30241935 4.03228834,1.3062276 C4.26563064,1.52329749 4.48749709,1.74798387 4.7208394,1.98790323 C4.83942319,2.10976703 4.96183227,2.23163082 5.08424135,2.35730287 L6.12854379,3.39695341 C6.53402386,3.80062724 6.53402386,4.17383513 6.12854379,4.57750896 C6.01761056,4.68794803 5.91050262,4.7983871 5.7995694,4.90501792 C5.47824557,5.23252688 5.17222287,5.53718638 4.83942319,5.83422939 C4.83177263,5.84184588 4.82412206,5.84565412 4.82029677,5.85327061 C4.49132238,6.18077957 4.55252692,6.50067204 4.62138202,6.71774194 C4.62520731,6.72916667 4.62903259,6.7405914 4.63285787,6.75201613 C4.90445302,7.40703405 5.28698138,8.02396953 5.8684245,8.75896057 L5.87224979,8.76276882 C6.92802808,10.0575717 8.04118563,11.0667563 9.26910169,11.8398297 C9.42593832,11.9388441 9.58660024,12.0188172 9.73961158,12.0949821 C9.87732179,12.1635305 10.0073814,12.2282706 10.1183147,12.296819 C10.1336158,12.3044355 10.1489169,12.3158602 10.1642181,12.3234767 C10.2942777,12.3882168 10.4166868,12.4186828 10.5429212,12.4186828 C10.8604197,12.4186828 11.0593345,12.2206541 11.1243643,12.155914 L12.4326113,10.8534946 C12.5626709,10.7240143 12.7692363,10.5678763 13.0102291,10.5678763 C13.2473967,10.5678763 13.4424862,10.7163978 13.56107,10.8458781 C13.5648953,10.8496864 13.5648953,10.8496864 13.5687205,10.8534946 L15.6764518,12.9518369 C16.0704561,13.3402778 16.0704561,13.7401434 15.6802771,14.1438172 Z"
                                       id="Shape"></path>
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </a>
                  </div>
               </div>
               <div class="mobile-menu-background-image"></div>
               <div class="active first_nav">
                  <a href="index.html">
                     <span class="type-element">
                        <div class="text-scaling">Home</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://www.hrconnect.co.nz/page/about/">
                     <span class="type-element">
                        <div class="text-scaling">About</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://www.hrconnect.co.nz/page/services/">
                     <span class="type-element">
                        <div class="text-scaling">Services</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://www.hrconnect.co.nz/page/enablehr/">
                     <span class="type-element">
                        <div class="text-scaling">enableHR</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://hrconnect.qjumpers.co.nz/jobs/">
                     <span class="type-element">
                        <div class="text-scaling">Vacancies</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://www.hrconnect.co.nz/page/testimonials/">
                     <span class="type-element">
                        <div class="text-scaling">Testimonials</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="">
                  <a href="https://www.hrconnect.co.nz/blog/">
                     <span class="type-element">
                        <div class="text-scaling">Blog</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
               <div class="end_nav">
                  <a href="https://www.hrconnect.co.nz/page/contact/">
                     <span class="type-element">
                        <div class="text-scaling">Contact</div>
                     </span>
                  </a>
                  <span class="nav_overlay"></span>
               </div>
            </div>
            <div class="clear_float"></div>
         </div>
         <!--end #shadow_inner-->
         <div class="clear_float"></div>
      </div>
      <!--end #shadow-->
      <div id="footer_scripts"></div>
      <!-- end #footer_scripts -->
      <div id="footer_bottom"></div>
      <!-- end #footer_bottom -->
      <div class="rs-search-container">
         <div class="rs-search">
            <span class="rs-search-icon">
               <?xml version="1.0" encoding="UTF-8" standalone="no"?>
               <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Cart-Contact-Bar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                     <g id="Empty-Cart-Icon" transform="translate(-845.000000, -13.000000)">
                        <g id="Search" transform="translate(845.000000, 13.000000)">
                           <g id="magnifying-glass" stroke-width="1" fill-rule="evenodd">
                              <g id="Capa_1"></g>
                           </g>
                           <path d="M17.8423503,17.0820399 L13.468071,12.7077605 C14.6414634,11.3587583 15.3518847,9.59866962 15.3518847,7.67494457 C15.3518847,3.44035477 11.9075388,0 7.67694013,0 C3.44235033,0 0.00199556541,3.4443459 0.00199556541,7.67494457 C0.00199556541,11.9055432 3.44634146,15.3498891 7.67694013,15.3498891 C9.60066519,15.3498891 11.3607539,14.6394678 12.7097561,13.4660754 L17.0840355,17.8403548 C17.1878049,17.9441242 17.3274945,18 17.4631929,18 C17.5988914,18 17.7385809,17.9481153 17.8423503,17.8403548 C18.0498891,17.632816 18.0498891,17.2895787 17.8423503,17.0820399 Z M1.07560976,7.67494457 C1.07560976,4.03503326 4.03702882,1.07760532 7.672949,1.07760532 C11.3128603,1.07760532 14.2702882,4.03902439 14.2702882,7.67494457 C14.2702882,11.3108647 11.3128603,14.2762749 7.672949,14.2762749 C4.03702882,14.2762749 1.07560976,11.3148559 1.07560976,7.67494457 Z"
                              id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                        </g>
                     </g>
                  </g>
               </svg>
            </span>
            <input type="text" placeholder="Search" id="rs-search-input" class="rs-search-input" autocomplete="off" />
            <div class="rs-loader-container">
               <div class="loader small rs-loader">Loading...</div>
            </div>
         </div>
         <div class="rs-search-results"></div>
      </div>
      <div class="rs-search-overlay">
         <span class="close">&nbsp;</span>
      </div>
      <div class="add-to-basket-popup-container" v-cloak>
         <transition name="fade">
            <div v-if="showPopup" class="add-to-basket-popup-background">
               <div class="add-to-basket-popup">
                  <h2 class="text-center">This product has been added to your cart</h2>
                  <div class="m-t-30 f-0">
                     <button class="shop-button outline">CONTINUE SHOPPING</button>
                     <a href="https://www.hrconnect.co.nz/shop/checkout/" class="shop-button fill">CHECKOUT</a>
                  </div>
               </div>
            </div>
         </transition>
      </div>
      <script>
         // Intercom is disabled
         function Intercom() {
         }
      </script>
      <!-- Mixpanel disabled -->
   </body>
</html>