@using System.Threading.Tasks
@using QJumpers.Public.QJumpersClient.Helpers;
@using QJumpers.Common.Api.Extensions;
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="https://pamunewzealand.com/favicon.png">
    <title>Pāmu Farms of New Zealand: Growing New Zealand&#039;s Finest Natural Products</title>
    <meta name="description" content="We take our best ideas and apply to our natural products and farming practices. We grow premium meat, dairy and fibre products, with proven provenance, since 1886.">


 @{
        
    <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=@ViewData["QJGTMCode"]" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
        <script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'qjDataLayer', '@ViewData["QJGTMCode"]');
        </script>
        <!-- End Google Tag Manager -->
    }

@{
        var clientGACode = "";

        if (!(bool)ViewData["IsQjumpersSubsite"] && !string.IsNullOrEmpty((string)ViewData["SubsiteGACode"]))
        {
            clientGACode = string.Format("ga('create', '{0}', 'auto', 'clientTracker');ga('clientTracker.send', 'pageview');", @ViewData["SubsiteGACode"]);
        }
        <script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', '@ViewData["SubsiteGACode"]', 'auto');
		ga('send', 'pageview');
		@if (!(bool)ViewData["IsQjumpersSubsite"] && !string.IsNullOrEmpty((string)ViewData["SubsiteGACode"]))
		{
			@:ga('create', '@ViewData["SubsiteGACode"])', 'auto', 'clientTracker');
					@:ga('clientTracker.send', 'pageview');
		}
        </script>
    }

    <style>

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;

            /* Support for IE. */
            font-feature-settings: 'liga';
        }
    </style>
    <!--QJumpers Common CSS -->
    <link rel="stylesheet" href="https://subsitescontent.qjumpers.com/toastr.css">
    <link rel="stylesheet" href="https://subsitescontent.qjumpers.com/common/common.css">


    <link rel='stylesheet' href='/subsites/Pamu/styles/style.css' />
    <!-- QJumpers Content Styling -->
    <link rel='stylesheet' href='/subsites/Pamu/styles/custom.css' />
    <link rel='stylesheet' href='/subsites/Pamu/styles/form.css' />
    <script type='text/javascript'>
        (function (d, t) {
            var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=stwbtozwwz15lcyj1zsl8a';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    </script>

    @{
        var host = string.Empty;
        if (Context.Request.Host.Port == null)
        {
            host = $"{Context.Request.Scheme}{Uri.SchemeDelimiter}{Context.Request.Host.Host}";
        }
        else
        {
            host = $"{Context.Request.Scheme}{Uri.SchemeDelimiter}{Context.Request.Host.Host}:{Context.Request.Host.Port}";
        }
        var geoHost = "Geonames_Base_Url".FromRequiredEnvironmentVariable();
        var keycloakHost = "Keycloak_Host".FromRequiredEnvironmentVariable();
        var sessionTimeout = "SESSIONTIMEOUT".FromRequiredEnvironmentVariable();
        
        <script>
        var environmentConfig = {
            host: "@Context.Request.Host.Host",
            port: @Context.Request.Host.Port,
            sessionTimeout: @sessionTimeout,
            subsite: "@Context.Items[SubsiteConstants.SubsiteKey]",
            ADMIN: {
                apiHost: "@host/api",
                apiPath: ""
            },
            GEO: {
                apiHost: "@geoHost/api",
                apiPath: ""
            },
            KEYCLOAK: {
                apiHost: "@keycloakHost/auth",
                apiPath: ""
            }
        }
        </script>
    }
</head>

<body>
    <div id="main-menu" class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo">
                    <img src="/subsites/Pamu/images/pamu.logo.white.png" class="brand-logo-pamu" alt="Pāmu Farms of New Zealand">
                </a>
                <a href="index.html#" data-activates="mobile-demo" class="button-collapse mobile-menu">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="https://pamunewzealand.com/pamu-promise">Our Promise</a>
                    </li>
                    <li>
                        <a href="https://pamunewzealand.com/products">Products</a>
                    </li>
                    <li>
                        <a href="https://pamunewzealand.com/company">Company</a>
                    </li>
                    <li>
                        <a href="https://pamunewzealand.com/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li>
            <a href="https://pamunewzealand.com/pamu-promise">Our Promise</a>
        </li>
        <li>
            <a href="https://pamunewzealand.com/products">Products</a>
        </li>
        <li>
            <a href="https://pamunewzealand.com/company">Company</a>
        </li>
        <li>
            <a href="https://pamunewzealand.com/contact">Contact Us</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="https://pamunewzealand.com/news-media">News &amp; Media</a>
        </li>
        <li>
            <a href="https://pamunewzealand.com/suppliers">Suppliers</a>
        </li>
        <li>
            <a href="https://pamunewzealand.com/company#careers">Careers</a>
        </li>
        <li>
            <a href="https://gateway.landcorp.co.nz/">Employee Login</a>
        </li>
        <li class="divider"></li>
        <li class="side-nav-social">
            <div class="side-nav-social-row">
                <a href="https://twitter.com/pamu_nz" class="social-icon-link">
                    <svg class="social-icon-svg twitter" id="footer-twitter" data-name="footer_social_twitter" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 22.56">
                        <defs>
                            <style>
                                .twitter-icon {
                                    fill: #000;
                                }
                            </style>
                        </defs>
                        <title>Twitter logo</title>
                        <path class="social-icon twitter-icon" d="M28.5,5.1A7.19,7.19,0,0,0,21.6,0C16.1,0,14,4.1,14,6.7c-3.5-.9-5.8-2.1-7.1-5.5C2.5,9.3,9.2,17.1,9.2,17.1S6.4,19.6,0,19.3c0,0,26.9,12.2,28.8-10.6C30.6,7.8,32,6.9,32,6.9ZM23.6,7.6a1.54,1.54,0,0,1-1.5-1.5,1.5,1.5,0,0,1,3,0A1.54,1.54,0,0,1,23.6,7.6Z"></path>
                    </svg>
                </a>

                <a href="https://www.linkedin.com/company/647540/" class="social-icon-link">
                    <svg class="social-icon-svg linkedin" id="footer-linkedin" data-name="footer_social_linkedin" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 29.14 30.16">
                        <defs>
                            <style>
                                .linkedin-icon {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <path class="social-icon linkedin-icon" d="M24.83,25.7H20.51v-7c0-1.67,0-3.82-2.25-3.82s-2.59,1.82-2.59,3.7V25.7H11.35V11.31H15.5v2h.06A4.5,4.5,0,0,1,19.65,11c4.37,0,5.18,3,5.18,6.85ZM6.48,9.34A2.55,2.55,0,0,1,4,6.74a2.55,2.55,0,0,1,2.5-2.59A2.56,2.56,0,0,1,9,6.74a2.56,2.56,0,0,1-2.51,2.6M8.64,25.7H4.32V11.31H8.64ZM27,0H2.15A2.16,2.16,0,0,0,0,2.17V28a2.17,2.17,0,0,0,2.15,2.18H27A2.17,2.17,0,0,0,29.14,28V2.17A2.17,2.17,0,0,0,27,0"></path>
                    </svg>
                </a>



            </div>
        </li>
    </ul>
    <!-- Body Start -->
        <main role="main" class="default-theme qjumpers">
          @RenderBody()
        </main>
        <!-- Body End -->
    <footer class="page-footer z-depth-2 ">
        <div class="page-footer-content ">
            <div class="row " style="padding-left: 25px; ">

                <div class="col l3 m4 s12 ">
                    <h5 class=" ">Our Promise</h5>
                    <ul>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#pamu_promise
            ">Pāmu Promise</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#animal_welfare
            ">Animal Welfare</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#environment
            ">Environment</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#farming_innovation
            ">Farming Innovation</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#organic_farms
            ">Organic Farms</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/pamu-promise#health_safety ">Health &amp; Safety</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m4 s12 ">
                    <h5 class=" ">Our Products</h5>
                    <ul>
                        <li>
                            <a href="https://pamunewzealand.com/products#products
            ">Products</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#deer_milk
            ">Deer Milk</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#cows_milk
            ">Cow&#039;s Milk</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#venison
            ">Venison</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#lamb
            ">Lamb</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#beef
            ">Beef</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#wool
            ">Wool</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#spring_sheep_milk_co
            ">Spring Sheep Milk Co</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/products#pamu_academy ">Pāmu Academy</a>
                        </li>
                    </ul>
                </div>

                <div class="col l3 m4 s12 ">
                    <h5 class="
            ">Our Company</h5>
                    <ul>
                        <li>
                            <a href="https://pamunewzealand.com/company#our_story ">Our Story</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#vision_values ">Vision &amp; Values</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#our_farms ">Our Farms</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#our_board ">Our Board</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#executive_team
            ">Executive Team</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#who_we_work_with
            ">Who We Work With</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#careers
            ">Careers</a>
                        </li>
                        <li>
                            <a href="https://pamunewzealand.com/company#vacancies ">Vacancies</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/financials ">Financials</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 m6 s12 ">
                    <h5 class=" ">General</h5>
                    <ul>
                        <li>
                            <a class=" " href="https://gateway.landcorp.co.nz ">Employee Login</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/contact ">Contact</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/news-media ">News &amp; Media</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/suppliers ">Suppliers</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/privacy-policy ">Privacy Policy</a>
                        </li>
                        <li>
                            <a class=" " href="https://pamunewzealand.com/disclaimer ">Disclaimer</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row ">
                <div class="col m2 s12 l2 ">
                    <img src="/subsites/Pamu/images/nzso.seal.png " class="center state-owned-badge " alt="New Zealand
            State Owned ">
                </div>
                <div class="col s12 m10 l10 ">
                    <div class="social-row ">
                        <a href="https://twitter.com/pamu_nz " class="social-icon-link ">
                            <svg class="social-icon-svg twitter " id="footer-twitter " data-name="footer_social_twitter " xmlns="http://www.w3.org/2000/svg
            " viewBox="0 0 32 22.56 ">
                                <defs>
                                    <style>
                                        .twitter-icon {
                                            fill: #000;
                                        }
                                    </style>
                                </defs>
                                <title>Twitter logo</title>
                                <path class="social-icon twitter-icon " d="M28.5,5.1A7.19,7.19,0,0,0,21.6,0C16.1,0,14,4.1,14,6.7c-3.5-.9-5.8-2.1-7.1-5.5C2.5,9.3,9.2,17.1,9.2,17.1S6.4,19.6,0,19.3c0,0,26.9,12.2,28.8-10.6C30.6,7.8,32,6.9,32,6.9ZM23.6,7.6a1.54,1.54,0,0,1-1.5-1.5,1.5,1.5,0,0,1,3,0A1.54,1.54,0,0,1,23.6,7.6Z "></path>
                            </svg>
                        </a>

                        <a href="https://www.linkedin.com/company/647540/ " class="social-icon-link ">
                            <svg class="social-icon-svg linkedin " id="footer-linkedin " data-name="footer_social_linkedin " xmlns="http://www.w3.org/2000/svg
            " viewBox="0 0 29.14 30.16 ">
                                <defs>
                                    <style>
                                        .linkedin-icon {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <path class="social-icon linkedin-icon " d="M24.83,25.7H20.51v-7c0-1.67,0-3.82-2.25-3.82s-2.59,1.82-2.59,3.7V25.7H11.35V11.31H15.5v2h.06A4.5,4.5,0,0,1,19.65,11c4.37,0,5.18,3,5.18,6.85ZM6.48,9.34A2.55,2.55,0,0,1,4,6.74a2.55,2.55,0,0,1,2.5-2.59A2.56,2.56,0,0,1,9,6.74a2.56,2.56,0,0,1-2.51,2.6M8.64,25.7H4.32V11.31H8.64ZM27,0H2.15A2.16,2.16,0,0,0,0,2.17V28a2.17,2.17,0,0,0,2.15,2.18H27A2.17,2.17,0,0,0,29.14,28V2.17A2.17,2.17,0,0,0,27,0 "></path>
                            </svg>
                        </a>




                        <a href="https://www.instagram.com/pamu_nz/ " class="social-icon-link ">
                            <svg id="footer-instagram " class="social-icon-svg instagram " data-name="footer_social_instagram " xmlns="http://www.w3.org/2000/svg
            " viewBox="0 0 380 380 ">
                                <defs>
                                    <style>
                                        .instagram-icon-background {
                                            fill: #647f9a;
                                        }

                                        .instagram-icon-1 {
                                            fill: none;
                                            stroke: #fff;
                                            stroke-miterlimit: 10;
                                            stroke-width: 20px;
                                        }

                                        .instagram-icon-2 {
                                            fill: #fff;
                                        }
                                    </style>
                                </defs>
                                <rect class="instagram-icon-background " width="380 " height="380 " rx="43 " />
                                <circle class="instagram-icon-1 " cx="190 " cy="190 " r="105.43 " />
                                <circle class="instagram-icon-2 " cx="305.76 " cy="65.11 " r="19.46 " />
                            </svg>
                        </a>





                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class=" ">
                <small>Copyright &copy; 2018 Pāmu. All rights reserved.</small>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src="/subsites/Pamu/scripts/materialize.min.js "></script>
    <script src="/subsites/Pamu/scripts/pamu.min.js "></script>

     @{
        if (ViewData["React"] == null || !(bool)ViewData["React"] || !(bool)ViewData["LocalDev"])
        {
            <!-- Standard QJumpers JS start -->
            <script src="~/jobs/lib/core-js/core.js"></script>
            <script src="~/jobs/lib/sweetalert2/sweetalert2.min.js"></script>
            <script src="~/jobs/lib/typeahead/typeahead.bundle.min.js"></script>
            <script src="~/jobs/js/site.js" asp-append-version="true"></script>
            <!-- Standard QJumpers JS end -->
        }
        else {

        }
    }

</body>

</html>